<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL 문장들을 작성하는 XML 파일 -->
<mapper namespace="edu.spring.project03.MemberMapper">

<!-- WM_MEMBER_ -->

	<select id="login" resultType="edu.spring.project03.domain.MemberVO">
		select * from wm_member
		where userid = #{userid} and pwd = #{pwd}
	</select>
    
    <select id="select-by-userid2" resultType="Integer">
    	select mno from wm_member where userid = #{userid}
    </select>
    
    <!-- userid로 검색하는 SQL문 -->
    <select id="select-by-userid" resultType="String">
    	select userid from wm_member where userid = #{userid}
    </select>
    


<!-- WM_PERSONAL -->
	<!-- mno로 검색하는 SQL문 -->
	<select id="select-by-mno" resultType="edu.spring.project03.domain.PersonalVO">
		select mno from wm_personal where mno = #{mno}
	</select>
	
	<select id="select-by-nickname" resultType="String">
		select nickname from wm_personal where nickname = #{nickname}
	</select>
    
    
    
    

  
    
    <!-- 전체 검색 SELECT -->
    <select id="member-select-all"
        resultType="edu.spring.project03.domain.MemberVO">
    select * from test_temp order by mno
    </select>
    
   
    <!-- 해당 userid의 pwd와 email을 수정(업데이트) -->
    <update id="update">
    update test_temp set pwd = #{pwd}, email = #{email}
    where userid = #{userid}
    </update>
    
    <!-- 관리자: 해당 userid 데이터 삭제  -->
    <delete id="delete">
    delete from test_temp where userid = #{userid}
    </delete>
    

	
	<select id="select_trip_date" resultType="edu.spring.project03.domain.TourRegisterVO">
		select * from wm_tour 
		where start_date <![CDATA[<]]> to_date(#{end_date},'YYYY-MM-DD')+1
  		and end_date <![CDATA[>=]]> to_date(#{start_date},'YYYY-MM-DD')
	</select>
	
	<select id="select_trip_region" resultType="edu.spring.project03.domain.ImgVO">
		
		select * from wm_image
		where content_no = (select trip_no from wm_tour_region where region_name = #{region_name})

	</select>
	
	<select id="select_trip_region_image" resultType="edu.spring.project03.domain.ImgVO">
		select * from wm_image
		where board_type = #{board_type} and content_no = #{content_no} and photo_no = #{photo_no}
	</select>
	
	

</mapper>