<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL 문장들을 작성하는 XML 파일 -->
<mapper namespace="edu.spring.project03.MemberMapper">

    <!-- INSERT SQL문 -->
    <insert id="member-insert">
    insert into test_temp(userid, pwd, email)
    values(#{userid}, #{pwd}, #{email})
    </insert>
    
    <!-- 전체 검색 SELECT -->
    <select id="member-select-all"
        resultType="edu.spring.project03.domain.MemberVO">
    select * from test_temp order by mno
    </select>
    
    <!-- userid로 검색하는 SQL문 -->
    <select id="select-by-userid"
        resultType="edu.spring.project03.domain.MemberVO">
    select * from test_temp where userid = #{userid}
    </select>
    
    <!-- 해당 userid의 pwd와 email을 수정(업데이트) -->
    <update id="update">
    update test_temp set pwd = #{pwd}, email = #{email}
    where userid = #{userid}
    </update>
    
    <!-- 해당 userid 데이터 삭제  -->
    <delete id="delete">
    delete from test_temp where userid = #{userid}
    </delete>
    
    <update id="update-email">
    update test_temp set email = #{email} where userid = #{userid}
    </update>

	<select id="login" resultType="edu.spring.project03.domain.MemberVO">
		select * from test_temp
		where userid = #{userid} and pwd = #{pwd}
	</select>

</mapper>










