<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="edu.spring.project03.SearchMember">
  
  
  
  
  
  
  <select id="searchUserName" resultType="edu.spring.project03.domain.MemberVO">
	
	select * from WM_MEMBER WHERE USERID 
	LIKE #{userid} order by mno desc

	</select>
  
  
  </mapper>