<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="edu.spring.Project03.TourRegisterMapper">
  
    <insert id="insert-register">
    insert into wm_tour(mno, title, condition_sex, condition_age, content, start_date, end_date)
    values (#{mno}, #{title}, #{condition_sex}, #{condition_age}, #{content}, #{start_date}, #{end_date})
    </insert>
    
  </mapper>