<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.spring.Project03.TourReviewMapper">

<!-- Insert -->
	<insert id="insert-review">
		insert into wm_review(title, content, mno)
		values (#{title}, #{content}, #{mno})
	</insert>
	
	<insert id="insert-thumnail">
	    insert into wm_image(board_type, content_no, img_url)
		values (#{board_type}, #{content_no}, #{img_url})
    </insert>
   
<!-- Update -->

<!-- Select -->
	<select id="select-review_no" resultType="Integer">
		select review_no from wm_review
		where (title = #{title} and content = #{content} and mno = #{mno})
	</select>
    
</mapper>