<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.spring.Project03.TourRegisterMapper">

	<insert id="insert-register">
		insert into wm_tour(mno, title, condition_sex, condition_age, content,
		start_date, end_date)
		values (#{mno}, #{title}, #{condition_sex}, #{condition_age}, #{content},
		#{start_date}, #{end_date})
	</insert>

	<insert id="insert-thumnail">
		insert into wm_image(board_type, content_no, img_url)
		values (#{board_type},
		#{content_no}, #{img_url})
	</insert>

	<insert id="insert-region">
		insert into wm_tour_region(trip_no, region_name)
		values (#{trip_no},
		#{region_name})
	</insert>

	<select id="select-trip_no" resultType="Integer">
		select trip_no from wm_tour
		where (mno = #{mno} and title = #{title} and start_date = #{start_date} and
		end_date = #{end_date} and content = #{content})
	</select>

	<update id="update-register"> update wm_tour set title = #{title}, condition_sex = #{condition_sex},
	    condition_age = #{condition_age}, content = #{content}, start_date = #{start_date}, end_date = #{end_date} 
	    where mno = #{mno} and trip_no = #{trip_no} </update>

	<update id="update-thumnail"> update wm_image set img_url = #{img_url} where
		content_no = #{content_no} </update>

	<update id="update-region"> update wm_tour_region set region_name =
		#{region_name} where trip_no = #{trip_no} </update>



</mapper>